body{
  margin:0;
  padding:0;
}

main {
  font-family:Segoe UI;
}

header{
  background:black;
  height:100px;
}

.cards-title {
  margin-bottom:30px;
  font-size:30px;
  font-weight:bold;
}  

.cards{
  padding:20px;
}

.pages{
  display:flex;
  flex-wrap:wrap;
  gap:4px;
}

.page{
  min-width:30px;
  padding:2px;
  text-align:center;
  background-color:#3c3e44;
  color:#fff;
  border-radius:4px;
  user-select:none;
}

.page:hover{
  cursor:pointer;
  background:#61636b;
}
